---
interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const {
	title,
	description,
	canonical,
	image = './favicon.svg',
} = Astro.props as Props

const determineCanonicalURL = () => {
	if (Astro.url.host.includes("localhost")) return "http://localhost:4321"
	return canonical || `${Astro.site}${Astro.url.pathname}`;
}

const canonicalURL = new URL(determineCanonicalURL(), Astro.site)
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#000000" />

<meta name="keywords" content="Preparación física, Readaptación, Entrenamiento personal, Entrenamiento, Fuerza, preparador fisico futbol, Lesiones deportivas, entrenamiento profesional, fuerza jugador futbol, entrenamiento futbolista" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@javiolmo12" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Javier Olmo" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7NC4PG5Z5M"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
	  dataLayer.push(arguments);
	}
	gtag("js", new Date());
  
	gtag("config", "G-XXXXXXXXXX");
  </script>
<!-- <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" /> -->

<!-- <meta name="msapplication-config" content="/browserconfig.xml" /> -->

<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->