---
interface Service {
  title: string;
  subtitle?: string;
  caracteristics?: string[];
  description: string;
}

const onlineServices: Service[] = [
	{
    title: 'supreme',
    caracteristics: ['Tests', 'Preparación individual', 'Programación individualizada', 'Reunión semanal', 'Reunión mensual', 'Contacto vía whatsapp'],
    description: 'Ideal para deportistas profesionales que buscan una dedicación diaria y comunicación continua, con un servicio premium.'
  },
	{
    title: 'elite',
    caracteristics: ['Tests', 'Preparación individual', 'Programación individualizada', 'Reunión semanal', 'Reunión mensual'],
    description: 'Perfecto para deportistas comprometidos que desean optimizar su rendimiento con entrenamientos personalizados y asesoría semanal.'
  },
	{
    title: 'excellence',
    caracteristics: ['Tests', 'Preparación individual', 'Programación individualizada', 'Reunión mensual'],
    description: 'Diseñado para deportistas que quieren mejorar su condición física y habilidades con sesiones de entrenamiento estructuradas y seguimiento mensual.'
  }
];

const onsiteServices: Service[] = [
  {
    title: 'platinum',
    description: 'Un servicio de entrenamiento presencial exclusivo, centrado en brindar una experiencia de alto nivel con atención personalizada y programas de entrenamiento intensivos.'
  }
]

const professionalServices: Service[] = [
  {
    title: 'mentoría',
    subtitle: 'Servicio exclusivo para profesionales de la preparación física y readaptadores',
    description: 'Orientación personalizada, acceso a mi forma de trabajar y apoyo continuo para llevar tu carrera al siguiente nivel. Te ayudo a progresar profesionalmente y a utilizar todo tipo de herramientas para el control de la carga y la preparación del deportista'
  }
]
---

<section>
  <div class="max-w-screen-lg px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight uppercase text-electric-lime">Servicios online</h2>
    </div>
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
      {onlineServices.map(service => (
        <div class="flex flex-col max-w-xs mx-auto">
          <div class="flex flex-col flex-1 p-6 text-center text-gray-900 bg-white rounded-lg xl:p-8">
            <h3 class="mb-4 text-2xl font-bold uppercase">{service.title}</h3>
            <div class="flex flex-col mb-4">
              <span class="text-lg font-bold">Punto de partida</span>
              <span>Objetivos</span>
            </div>
            <ul role="list" class="mb-8 space-y-2 text-left">
              {service.caracteristics.map(caracteristic => (
                <li class="flex items-center space-x-3">
                  <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                  <span>{caracteristic}</span>
                </li>
              ))}
            </ul>
            <a href="/#contact-form-section" class="bg-electric-lime mt-auto font-medium rounded-lg uppercase px-5 py-2.5 text-center">Lo quiero</a>
          </div>
          <p class="mt-6 text-center text-white">{service.description}</p>
        </div>
			))}
    </div>
  </div>
</section>

<section>
  <div class="max-w-screen-lg px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 text-center">
      <h2 class="text-4xl font-extrabold tracking-tight uppercase text-electric-lime">Servicios presenciales</h2>
    </div>
    <div class="space-y-8 lg:grid sm:gap-6 xl:gap-10 lg:space-y-0">
      {onsiteServices.map(service => (
        <div class="flex flex-col max-w-sm mx-auto">
          <div class="flex flex-col flex-1 p-6 text-center text-gray-900 bg-white rounded-lg xl:p-8">
            <h3 class="mb-4 text-2xl font-bold uppercase">{service.title}</h3>
            <div class="flex flex-col mb-4">
              <span class="text-lg font-bold">Servicio exclusivo</span>
              <span>limitado en plazas/ubicación</span>
            </div>
            <div class="mb-8">
              <p>{service.description}</p>
            </div>
            <a href="/#contact-form-section" class="bg-electric-lime mt-auto font-medium rounded-lg uppercase px-5 py-2.5 text-center">Lo quiero</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<section>
  <div class="max-w-screen-lg px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 text-center">
      <h2 class="text-4xl font-extrabold tracking-tight uppercase text-electric-lime">Servicios para profesionales</h2>
    </div>
    <div class="space-y-8 lg:grid sm:gap-6 xl:gap-10 lg:space-y-0">
      {professionalServices.map(service => (
        <div class="flex flex-col max-w-sm mx-auto">
          <div class="flex flex-col flex-1 p-6 text-center text-gray-900 bg-white rounded-lg xl:p-8">
            <h3 class="mb-4 text-2xl font-bold uppercase">{service.title}</h3>
            <h5 class="mb-4 font-semibold">{service.subtitle}</h5>
            <p class="mb-8">{service.description}</p>
            <a href="/#contact-form-section" class="bg-electric-lime mt-auto font-medium rounded-lg uppercase px-5 py-2.5 text-center">Lo quiero</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>